/BackEnd/.vs
/BackEnd/src/API/DofyEcom.Admin.API/bin
/BackEnd/src/API/DofyEcom.Admin.API/obj
/BackEnd/src/API/DofyEcom.Public.API/bin
/BackEnd/src/API/DofyEcom.Public.API/obj
/BackEnd/src/Core/DofyEcom.Contracts/bin
/BackEnd/src/Core/DofyEcom.Contracts/obj
/BackEnd/src/Core/DofyEcom.DAL/bin
/BackEnd/src/Core/DofyEcom.DAL/obj
/BackEnd/src/Core/DofyEcom.DataMappers/bin
/BackEnd/src/Core/DofyEcom.DataMappers/obj
/BackEnd/src/Core/DofyEcom.DBO/bin
/BackEnd/src/Core/DofyEcom.DBO/obj
/BackEnd/src/Core/DofyEcom.Model/bin
/BackEnd/src/Core/DofyEcom.Model/obj
/BackEnd/src/Core/DofyEcom.ViewEntities/bin
/BackEnd/src/Core/DofyEcom.ViewEntities/obj
/BackEnd/src/Services/DofyEcom.NotificationService/bin
/BackEnd/src/Services/DofyEcom.NotificationService/obj
/BackEnd/src/Utilities/DofyEcom.Attributes/bin
/BackEnd/src/Utilities/DofyEcom.Attributes/obj
/BackEnd/src/Utilities/DofyEcom.Cache/bin
/BackEnd/src/Utilities/DofyEcom.Cache/obj
/BackEnd/src/Utilities/DofyEcom.Helper/bin
/BackEnd/src/Utilities/DofyEcom.Helper/obj
/BackEnd/src/Utilities/DofyEcom.Logger/bin
/BackEnd/src/Utilities/DofyEcom.Logger/obj
/BackEnd/src/Utilities/DofyEcom.UploadHelper/bin
/BackEnd/src/Utilities/DofyEcom.UploadHelper/obj
